<!DOCTYPE html>
<html>

<head>
    <title>Laboratory Equipment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div id="canvas-container">
        </div>
    </div>

    <div id="bunsen-burner" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bunsen Burner</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>a small adjustable gas burner used in laboratories.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ring-stand" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ring Stand</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>An item of laboratory equipment consisting of a
metal pole with a solid, firm base, used to hold or clamp laboratory
glassware and other equipment in place, so that it does not fall down
or come apart.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="glass-bottle" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Glass Bottle</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A reagent <strong>bottle</strong> is used to
hold fluids that can have a solvent or <strong>chemical</strong>
reaction. The <strong>bottle</strong> can be made of plastic for
strength and versatile use, or <strong>glass</strong> for resistance
to heat, gas, and vapor. Available in a range of volumes, common sizes
include 100mL, 250mL, 500mL, 1,000mL, and 2,000mL.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="wash-bottle" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wash Bottle</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>wash bottle</strong> is a squeeze
<strong>bottle</strong> with a nozzle, used to rinse various pieces of
laboratory glassware, such as test tubes and round bottom flasks.
<strong>Wash bottles</strong> are sealed with a screw-top lid</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pipe-stem-triangle" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pipe Stem Triangle</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A pipeclay <strong>triangle</strong> is a piece
of laboratory apparatus that is used to support a crucible being
heated by a Bunsen burner or other heat source. It is made of wires
strung in an equilateral <strong>triangle</strong> on which are strung
hollow ceramic, normally fire clay, tubes.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="evaporating-dish" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evaporating Dish</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        a small ceramic dish in which liquids are
heated over a flame so that they evaporate, leaving a solid residue.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="test-tube" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test Tube</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        A test tube, also known as a culture tube or
sample tube, is a common piece of laboratory glassware consisting of a
finger-like length of glass or clear plastic tubing, open at the top
and closed at the bottom.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="beaker" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Beaker</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        A beaker is a generally cylindrical container
with a flat bottom. Most also have a small spout to aid pouring, as
shown in the picture. Beakers are available in a wide range of sizes,
from one millilitre up to several litres.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>jk
        </div>
    </div>

    <div id="utility-clamp" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Utility Clamp</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>Utility clamp</strong> is a
laboratory apparatus resembling a pair of scissors. The screw in the
middle works as the wide adjustment of 2-prong. It composes of 3
parts: 2-prong adjust, metal rod, and <strong>clamp</strong> down
(attach the <strong>clamp</strong> to the ring stand for adjust the
height).</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mortar-pestle" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mortar and Pestle</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        A mortar and pestle is a kitchen implement
used since ancient times to prepare ingredients or substances by
crushing and grinding them into a fine paste or powder.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="crucible" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crucible and Cover</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Crucible and cover</strong> are used
in the laboratory to contain chemical compounds when heated to
extremely high temperatures. Crucibles are available in several sizes
and typically come with a correspondingly-sized lid.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="wire-gauze" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">wire-gauze</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        A <strong>wire gauze</strong> is a sheet of
thin metal that has net-like crosses or a <strong>wire</strong> mesh.
<strong>Wire gauze</strong> is placed on the support ring that is
attached to the retort stand between the Bunsen burner and the beakers
in order to support the beakers or other glassware or flasks during
heating.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="iron-ring" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Iron Ring</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Iron rings</strong> are commonly used
in <strong>chemistry</strong> laboratories for supporting apparatus
above the work surface, for example: a tapered item such as a filter
funnel or separatory funnel. a clay triangle, which itself supports an
item such as a crucible.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="rubber-stopper" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rubber Stopper</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A laboratory <strong>rubber stopper</strong> or
a <strong>rubber bung</strong> is mainly used in a
<strong>chemical</strong> laboratory in combination with flasks and
test tube.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="corks" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Corks</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Corks are tops used to seal the opening of
laboratory bottles.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="watch-glass" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Watch Glass</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>watch glass</strong> is a circular
concave piece of <strong>glass</strong> used in chemistry as a surface
to evaporate a liquid, to hold solids while being weighed, for heating
a small amount of substance and as a cover for a beaker.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="safety-goggles" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Safety Goggles</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Goggles</strong>, or <strong>safety
glasses</strong>, are forms of <strong>protective</strong> eyewear
that usually enclose or protect the area surrounding the
<strong>eye</strong> in order to prevent particulates, water or
chemicals from striking the eyes. They are used in chemistry
laboratories and in woodworking.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="test-tube-holder" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test Tube Holder</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>test tube holder</strong> is used to
hold <strong>Test Tubes</strong>. It is used for holding a
<strong>test tube</strong> in place when the <strong>tube</strong> is
hot or should not be touched. For example, a <strong>test tube
holder</strong> can be used to hold a <strong>test tube</strong> while
it is being heated.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="erlenmeyer-flask" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Erlenmeyer Flask</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        An Erlenmeyer flask, also known as a conical
flask or titration flask, is a type of laboratory flask which features
a flat bottom, a conical body, and a cylindrical neck. It is named
after the German chemist Emil Erlenmeyer, who created it in 1860.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="buret" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buret</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A volumetric <strong>burette</strong> delivers
measured volumes of liquid.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pipet" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pipet</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        A <strong>pipette</strong> (sometimes spelled
<strong>pipet</strong>) is a laboratory tool commonly used in
<strong>chemistry</strong>, biology and medicine to transport a
measured volume of liquid, often as a media dispenser.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="thermometer" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">thermometer</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p> A device used to measure the temperature of
gaseous, liquid or solid matter or of a <strong>chemical</strong>
reaction such as fire. Temperature measurement is important to a wide
range of activities, including industry, scientific research, and
health care.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="graduated-cylinder" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Graduated Cylinder</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>graduated cylinder, measuring
cylinder</strong> or mixing <strong> cylinder</strong> is a common
piece of laboratory equipment used to measure the volume of a liquid.
It has a narrow cylindrical shape. Each marked line on the
<strong>graduated cylinder</strong> represents the amount of liquid
that has been measured.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tongs" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tongs</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Laboratory <strong>tongs</strong> are large
pincers for grasping and lifting vessels of heat-resistant material
used in high temperature <strong>chemical</strong> reactions. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="scoopula" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scoopula</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Scoopula</strong> is a brand name of a
spatula-like scoop utensil used primarily in
<strong>chemistry</strong> lab settings to transfer solids: to a weigh
paper for weighing.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="spatula" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Spatula</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>In laboratories, <strong>spatulas</strong> and
micro spatulas are small stainless steel utensils, used for scraping,
transferring, or applying powders and paste like chemicals or
treatments. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="micro-pipets" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">micro-pipets</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>micropipette</strong>.
(mī′krō-pī-pĕt′) n. A very small <strong>pipette</strong> used in
microinjection. A <strong>pipette</strong> used to measure very small
volumes of liquids.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="funnel" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Funnel</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>funnel</strong> is a pipe with a wide
(often conical) mouth and a narrow stem. It is used to channel liquid
or fine-grained substances into containers with a small opening.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dropper" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dropper</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>a glass tube with a hollow rubber bulb at one
end and a small opening at the other, for drawing in a liquid and
expelling it in drops; medicine <strong>dropper</strong>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="forceps" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Forceps</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Forceps</strong> are a handheld,
hinged instrument used for grasping and holding objects.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="file" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">File</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A <strong>file</strong> is a
<strong>tool</strong> used to remove fine amounts of material from a
workpiece.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="test-tube-rack" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test Tube Rack</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Test tube racks are used for holding and
organizing test tubes on the laboratory counter.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="wire-brush" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wire Brush</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>A test tube or <strong>spout brush</strong> is
a <strong>brush</strong> used for cleaning test tubes and narrow mouth
laboratory glassware, such as beakers and flasks.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="24-well-plate" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">24 Well Plate</h5>
                    <button type="button" class="close"
data-dismiss="modal" onmouseup="deactivateModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Well Plates are used for micro reactions or
used to perform reactions on a very small amount of materials</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
data-dismiss="modal" onmouseup="deactivateModal()">Close</button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
    <script src="/javascripts/p5.min.js"></script>
    <script src="/javascripts/p5.dom.min.js"></script>
    <script src="/javascripts/p5.sound.min.js"></script>
    <script src="/javascripts/custom.js"></script>
</body>

</html>