body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#canvas-container{
  width:100%;
  height:auto;
}

canvas {
  width:100%!important;
  height:auto!important;
  max-width:900px!important;
}